---
import HeaderCard from '../cards/HeaderCard.astro';
import BenchmarkDetails from '../cards/BenchmarkListElementCard.astro';

const benchmarks = [
    '1-calculos-matematicos',
    '2-procesamiento-datos',
    '3-carga-graficos-complejos',
    '4-manejo-peticiones',
    '5-criptografia',
    '6-patrones',
];
const {
    id = 'benchmarks',
    title = 'Benchmarks',
    ref = 'benchmarks',
} = Astro.props;
---

<HeaderCard id={id} title={title} ref={ref}>
    <div class="space-y-4">
        <!-- Cálculos matemáticos intensivos -->
        <BenchmarkDetails
            title="Cálculos matemáticos intensivos"
            linkRef={`/benchmarks/${benchmarks[0]}`}
            benchmarkItems={[
                {
                    title: 'Multiplicación de matrices',
                    versions: [
                        'Listas nativas/Arrays nativas',
                        'Numpy/TypeArrays',
                    ],
                },
                {
                    title: 'Detección de números primos',
                    versions: [
                        'Algoritmos Convencionales junto a estructuras nativas',
                        'Algoritmos Optimizados con Librerías Especializadas',
                    ],
                },
                {
                    title: 'Cálculo de dígitos de π con aritmética de precisión arbitraria',
                    versions: [
                        'Bailey-Borwein-Plouffe (BBP con Estructuras nativas)',
                        'Gauss-Legendre (Estructuras optimizadas)',
                    ],
                },
            ]}
        />

        <!-- Procesamiento de grandes volúmenes de datos -->
        <BenchmarkDetails
            title="Procesamiento de grandes volúmenes de datos"
            linkRef={`/benchmarks/${benchmarks[1]}`}
            benchmarkItems={[
                {
                    title: 'Carga y transformación de datos',
                    versions: [
                        'Estructuras de Datos nativas con implementaciones no optimizadas',
                        'Estructuras de Datos Optimizadas con implementaciones optimizadas',
                    ],
                },
                {
                    title: 'Análisis estadístico y Paralelización',
                    versions: [
                        'Estructuras nativas',
                        'Estructuras optimizadas con paralelismo',
                    ],
                },
                {
                    title: 'Pandas vs Danfo.js',
                    versions: [
                        'Mismas tareas de la implementación anterior, pero utilizando Pandas y Danfo.js',
                    ],
                },
            ]}
        />

        <!-- Carga y representación de gráficos complejos -->
        <BenchmarkDetails
            title="Carga y representación de gráficos complejos"
            linkRef={`/benchmarks/${benchmarks[2]}`}
            benchmarkItems={[
                {
                    title: 'Renderizado de gráficos de dispersión masivos',
                    versions: [
                        'Una única versión, que consiste en evaluar la capacidad de renderizar un gráfico de dispersión con lógica optimizada',
                    ],
                },
                {
                    title: 'Visualización Interactiva de Series Temporales Complejas',
                    versions: [
                        'Una única versión, que consiste en evaluar la capacidad de visualizar una serie temporal compleja con lógica optimizada, la cual a diferencia de la anterior, permite interactividad y no es únicamente una visualización de una imagen.',
                    ],
                },
            ]}
        />

        <!-- Manejo de múltiples solicitudes concurrentes -->
        <BenchmarkDetails
            title="Manejo de múltiples solicitudes concurrentes"
            linkRef={`/benchmarks/${benchmarks[3]}`}
            benchmarkItems={[
                {
                    title: 'Solicitudes concurrentes con Fetch/Promise.all (JavaScript) vs Asyncio/Fetch (PyScript)',
                    versions: [
                        'Una única versión, que consiste en observar cómo es el rendimiento de las peticiones HTTP con Fetch/Promise.all (JavaScript) y Asyncio/Fetch (PyScript)',
                    ],
                },
                {
                    title: 'Manejo de WebSockets para solicitudes concurrentes en JavaScript vs PyScript',
                    versions: [
                        'Una única versión, que consiste en evaluar la capacidad de manejar WebSockets con JavaScript y PyScript',
                    ],
                },
            ]}
        />

        <!-- Cálculo y verificación de integridad en datos sensibles -->
        <BenchmarkDetails
            title="Cálculo y verificación de integridad en datos sensibles"
            linkRef={`/benchmarks/${benchmarks[4]}`}
            benchmarkItems={[
                {
                    title: 'Generación y Verificación de Hashes Criptográficos SHA-256',
                    versions: [
                        'Una única versión, que consiste en evaluar la capacidad de generar y verificar hashes criptográficos SHA-256 con JavaScript y PyScript',
                    ],
                },
                {
                    title: 'Cifrado y Descifrado Simétrico con AES-GCM (128 bits)',
                    versions: [
                        'Una única versión, que consiste en evaluar la capacidad de cifrar y descifrar datos con AES-GCM (128 bits) con JavaScript y PyScript',
                    ],
                },
            ]}
        />

        <!-- Reconocimiento de patrones y clasificación de datos -->
        <BenchmarkDetails
            title="Reconocimiento de patrones y clasificación de datos"
            linkRef={`/benchmarks/${benchmarks[5]}`}
            benchmarkItems={[
                {
                    title: 'Clasificación del dataset Iris',
                    versions: [
                        'Una única versión, que consiste en evaluar la capacidad de clasificar el dataset Iris con JavaScript y PyScript',
                    ],
                },
                {
                    title: 'Clasificación del dataset Digits',
                    versions: [
                        'Una única versión, que consiste en evaluar la capacidad de clasificar el dataset Digits con JavaScript y PyScript',
                    ],
                },
            ]}
        />
    </div>
</HeaderCard>
